#app {
  display: flex;
  align-items: center;
  max-width: 1728px;
}

body {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: rgba(241, 244, 253, 1);
  margin: 0;
  padding: 35px;
  font-family: Inter;
}
